<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
    <h1>Generated Pages</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Page Name</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            {% for page in pages %}
            <tr>
                <td>{{ page }}</td>
                <td><a href="{{ 'https://funhub.lol/app/generated_pages/' ~ page }}" target="_blank">{{page}}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>